.left, .middle, .right
{
height: 200px;}
.left
{
    background-color: darksalmon;
    float: left;
    width: 40%;}
.middle
{
background-color:brown;
float: left;
width: 20%;}
.right
{
background-color: darkseagreen;
float: right;
width: 40%;}
@media only screen and (max-width: 768px) {
/*Áp dụng khi màn hình nhỏ hơn 780px*/
.left, .right, .middle{
float: none;
width: 100%;
}}