/* Global styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.form-container {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* Breakpoint for devices smaller than 640px */
@media (max-width: 640px) {
    .form-container {
        background-color: rgb(56, 142, 142); /* Màu xanh teal */
    }
}

/* Breakpoint for devices between 641px and 1023px */
@media (min-width: 641px) and (max-width: 1023px) {
    .form-container {
        background-color: #9c27b0; /* Màu tím */
    }
}

/* Breakpoint for devices 1024px and larger */
@media (min-width: 1024px) {
    .form-container {
        background-color: #0000ff; /* Màu xanh dương */
    }
}
