.main-container
{
    display: flex;
    background-color: #2470c281;
    justify-content: center;
    font-size: 15pt;
}
.form-container
{
    flex: 1.2;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    margin: 50px;
}
.form-group
{
    padding: 10px;
    background-color: white;
}
input
{
    padding: 10px;
    background-color: #D1E8Ff;
    border-radius: 7px;
    border: none;
    width: 100%;
}
.form
{
    width: 100%;
    padding: 40px;
    flex: 1.2;
}
.submit-btn
{
    background-color: #2470C2;
    width: 100%;
    color: white;
    border-radius: 7px;
    padding: 10px;
    margin-left: 10px;
    font-size: 12pt;
    border: none;
}
#mess
{
    padding-bottom: 60px;
}
.image
{
    align-content: center;
}
.form>h2
{
    color: #2470C2;
    margin-left: 10px;
}
